In [1]:
import pandas as pd

In [10]:
df = pd.DataFrame({'Streams':['Arts', 'Commerce', 'Medical', 'Non-Medical', 'Other',
                             'Arts', 'Medical', 'Non-Medical']})

In [11]:
df

       Streams
0         Arts
1     Commerce
2      Medical
3  Non-Medical
4        Other
5         Arts
6      Medical
7  Non-Medical

In [12]:
pd.get_dummies(df['Streams'])

   Arts  Commerce  Medical  Non-Medical  Other
0     1         0        0            0      0
1     0         1        0            0      0
2     0         0        1            0      0
3     0         0        0            1      0
4     0         0        0            0      1
5     1         0        0            0      0
6     0         0        1            0      0
7     0         0        0            1      0

In [13]:
from sklearn.preprocessing import LabelEncoder

In [14]:
encoder = LabelEncoder()

In [15]:
encoder.fit(df['Streams'])

LabelEncoder()

In [16]:
encoder.transform(df['Streams'])

array([0, 1, 2, 3, 4, 0, 2, 3])

In [17]:
df['Streams_Encoded'] = encoder.transform(df['Streams'])

In [18]:
df

       Streams  Streams_Encoded
0         Arts                0
1     Commerce                1
2      Medical                2
3  Non-Medical                3
4        Other                4
5         Arts                0
6      Medical                2
7  Non-Medical                3

In [19]:
encoder.classes_

array(['Arts', 'Commerce', 'Medical', 'Non-Medical', 'Other'],
      dtype=object)